fastapi
uvicorn
python-dotenv
pydantic-settings
langchain
langchain-community
langchain-groq
langchain-google-genai
langchain-aws
boto3
chromadb
sentence-transformers
pypdf
pillow
python-multipart
langchain-huggingface
langchain-openai
tavily-python